{{> header }}

<h1>livros</h1>
<hr>
<a href="/livros/novo" class="btn btn-primary">Cadastrar novo livro</a>
<table class="table table-striped">
<thead>
  <tr>
    <th>isbn</th>
    <th>titulo</th>
    <th>edição</th>
    <th>#</th>
  </tr>
</thead>
  <tbody>
    {{#each livros }}
    <tr>
 <td>{{ isbn }}</td>
       <td>{{ titulo }}</td>
       <td>{{ edicao }}</td>
      <td><a href="/livros/{{ _id }}/delete" class="btn btn-danger">&times;</a></td>
     </tr>
     {{/each }}
   </tbody>
</table>
{{> footer }}