{{> header }}
<div class="container-box">
  <div class="row">
    <div class="col-md-8">
              <form action="/livros/novo" method="POST">
          <div class="form-group">
          <label for="">Isbn</label>
            <input type="text" class="form-control" name="isbn" placeholder="digite o isbn do livro">
            </div>
          <div class="form-group">
            <label for="">Titulo</label>
           <input type="text" class="form-control" name="titulo" placeholder="digite o isbn do livro">
          </div>
          <div class="form-group">
            <label for="">Edição</label>
           <input type="text" class="form-control" name="edicao" placeholder="digite o isbn do livro">
          </div>
          <div class="form-group">
          <button class="btn btn-sucess">Cadastrar</button>
          </div>
        </form>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>
{{> footer }}